.wj-flexchart {
  height: 410px;
  background-color: #f9f9f9;
  border: 5px solid gray;
  font-size: 0.75rem;
  font-weight: 500;
}

.wj-legend {
  font-weight: 800;
  display: none;
}

.wj-data-label {
  font-weight: 400;
  font-size: 0.6875rem;
}

.wj-axis-y text {
  font-family: 'SejongGeulggot';
  font-weight: 700;
  fill: #bebebe;
}

.wj-axis-x text {
  font-size: 1rem;
  font-family: 'SejongGeulggot';
  font-weight: 700;
  fill: #bebebe;
}

.wj-axis-x .wj-title {
  font-size: 0.8125rem;
}
